// Fonts
$logo-size-desktop: 40px;
$logo-size-mobile: 24px;
$subtitle-size-desktop: 24px;
$subtitle-size-mobile: 18px;
$font-size-desktop: 12px;
$font-size-mobile: 10px;

// Breakpoints
$breakpoint-md: 768px;

// Spacing
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 64px;

* {
    font-family: 'Lora', serif;
    color: #000;
}

.view {
    padding: $spacing-5;
}

.site-logo {
    font-size: $logo-size-desktop;
    margin-bottom: $spacing-2;
}

.hero {
    text-align: left;
}

.hero__subtitle {
    font-size: $subtitle-size-desktop;
    margin-bottom: $spacing-4;
}

.hero__copy-section {
    font-size: $font-size-desktop;
    margin-bottom: $spacing-2;

    &--bottom {
        margin-bottom: $spacing-4;
    }
}

.button--tertiary {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    font-size: $font-size-desktop;
}

@media screen and (max-width: 768px) {
    .view {
        padding: $spacing-4;
    }

    .site-logo {
        font-size: $logo-size-mobile;
    }

    .hero__subtitle {
        font-size: $subtitle-size-mobile;
    }

    .hero__copy-section {
        font-size: $font-size-mobile;
    }

    .button--tertiary {
        font-size: $font-size-mobile;
    }

}