// Fonts
$logo-size-desktop: 40px;
$logo-size-mobile: 24px;
$subtitle-size-desktop: 24px;
$subtitle-size-mobile: 18px;
$font-size-desktop: 12px;
$font-size-mobile: 10px;

// Spacing
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 64px;

* {
    font-family: 'Lora', serif;
    color: #000;
}

.main {
    display: flex;
    flex-wrap: wrap;

    &__content {
        flex: 1;
        flex-basis: 300px;
        margin: $spacing-5;
        margin-left: 0;
    }
}

.site-logo {
    &>a {
        text-decoration: none;
    }

    font-size: $logo-size-desktop;
    margin-bottom: $spacing-2;
}

.hero {
    text-align: left;
    align-self: flex-start;
    flex-basis: 400px;
    margin: $spacing-5;
    position: sticky;
    position: -webkit-sticky;
    top: $spacing-5;
}

.hero__subtitle {
    font-size: $subtitle-size-desktop;
    margin-bottom: $spacing-4;
}

.hero__copy-section {
    font-size: $font-size-desktop;
    margin-bottom: $spacing-2;

    &--bottom {
        margin-bottom: $spacing-4;
    }
}

.hero__menu-link {
    text-transform: lowercase;
    margin-bottom: $spacing-1;
}

.button--tertiary {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    font-size: $font-size-desktop;
}

@media screen and (max-width: 900px) {
    .site-logo {
        font-size: $logo-size-mobile;
    }

    .hero {
        flex-basis: 100vw;
        margin: $spacing-4;
        position: relative;
        top: 0;
    }

    .hero__subtitle {
        font-size: $subtitle-size-mobile;
    }

    .hero__copy-section {
        font-size: $font-size-mobile;
    }

    .main__content {
        margin: $spacing-4;
        margin-left: $spacing-4;
    }

    .button--tertiary {
        font-size: $font-size-mobile;
    }
}