<div class="hero">
    {{ partial "site-logo.html" }}
    <h2 class="hero__subtitle">a blog about life on the road.</h2>
    <div class="hero__copy-section">
        <p>&copy; Trish and Elty</p>
        <p>February 2023</p>
    </div>
    <div class="hero__copy-section hero__copy-section--bottom">
        <p>instagram</p>
        <p>his: @eltypls</p>
        <p>hers: @trish_lai</p>
        <p>pickle’s: @theshadeywiener</p>
    </div>
    <a class="button--tertiary" href="{{site.Params.newsletterLink}}" >subscribe to our newsletter here &rightarrow;</a>
</div>