<div class="hero">
    {{ partial "site-logo.html" }}
    <h2 class="hero__subtitle">a blog about life on the road.</h2>
    <div class="hero__copy-section">
        <p>&copy; Trish and Elty</p>
        <p>February 2023</p>
    </div>
    <div class="hero__copy-section hero__copy-section--bottom">
        <p>instagram</p>
        <p>his: <a href={{site.Params.hisLink}}>@eltypls</a></p>
        <p>hers: <a href={{site.Params.herLink}}>@trish_lai</a></p>
        <p>pickle's: <a href={{site.Params.pickleLink}}>@theshadeywiener</a></p>
    </div>
    <div class="hero__copy-section">
        <ul class="hero__menu">
            <li class="hero__menu-link"><a class="button--tertiary" href="{{site.Params.newsletterLink}}">subscribe to our newsletter here
                &rightarrow;</a></li>
            {{ range site.Params.navlinks }}
            <li class="hero__menu-link"><a class="button--tertiary" href="{{ absURL .url }}">{{ .name }} &rightarrow;</a></li>
            {{ end }}
        </ul>
    </div>
</div>